<div class="container">
    <div class="filter-icon" id="filter-icon" (click)="togglePopup()">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="black" class="bi bi-filter"
        viewBox="0 0 16 16">
        <path
          d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
      </svg>
    </div>
  
    <div class="custom-dropdown" [ngClass]="{ 'open': isPopupVisible }">
      <div class="popup-content">
        <div class="popup-header">
          <h2>Popup Title</h2>
          <button class="close-button" (click)="togglePopup()">&times;</button>
        </div> 
        <p>{{ jsonData.message }}</p>
        <app-dropdown></app-dropdown>
        <app-dropdown></app-dropdown>
        <div class="date-range">
          <span>Start Date:</span>
          <input type="date">
          <br style="margin-bottom: 10px;">
          <span>End Date:</span>
          <input style="margin-left: 6px;" type="date">
        </div>
        <div class="button-container">
          <button class="save-button">Save</button>
        </div>
  
      </div>
    </div>




