<div class="margin-top row align-items-center">
    <div class="col-auto">
        <!-- Search Field -->
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" aria-label="Search"
                aria-describedby="search-button">
            <button class="btn btn-outline-primary" type="button" id="search-button">Search</button>
        </div>
    </div>
    <div class="col-auto filter-icon" id="filter-icon">
        <app-filter></app-filter>
    </div>
</div>