<div>
  <nav class="navbar bg-body-tertiary solid fixed-top">
     
    <div class="container-fluid" style="background-color: #5B7C99;">
      <div class="container-fluid row align-items-center">
        <div class="col-auto">
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div class="col">
          <ol class="mt-4 breadcrumb">
            <li class="breadcrumb-item"><a href="#" style="color: rgb(255, 255, 255);">Templates</a></li>
            <li class="breadcrumb-item active" aria-current="page" style="color: rgb(255, 255, 255);">Category A</li>
            <button class="btn btn-add btn-secondary"> + </button>
          </ol>
        </div>
        <div class="col-auto">
          <a class="navbar-brand" style="color: rgb(255, 255, 255);" href="#"><img class="logo" src={{logo}} alt="EDS" />Entegra Data
            Staging</a>
        </div>

      </div>
       
      <div class="offcanvas offcanvas-start show" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h4 class="navbar-brand" href="#"><img class="logo" src="assets/EDS logo.png" alt="EDS" />Entegra Data
            Staging</h4>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Templates
              </a>
              <ul class="dropdown-menu bg-secondary">
                <li><a class="dropdown-item" routerLink="templates/category"
                    *ngFor="let category of categories">{{category.name}}</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Jobs</a>
            </li>
            <li class="nav-item" >
              <a class="nav-link active" aria-current="page" routerLink="templates/category">Category</a>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </nav>  
  <router-outlet></router-outlet>
</div>


<!-- <app-filter></app-filter>  -->


<!-- <app-jobs-filter></app-jobs-filter> -->

<!-- <app-template-filter></app-template-filter> -->
